<!-- app/views/admin/categories/_category.html.erb -->
<tr>
  <td>
    <h4><%= category.name %></h4>
  </td>
  <td>
    <!-- Add any actions you want to perform on categories here (if applicable) -->
  </td>
</tr>
