<br/>
<h1>About Jungle</h1>
<p>Jungle is an online store to purchase plants: this includes, evergreens, shrubs and trees! 
<br/> We use stripe for all of our credit card transactions to ensure safe and secure shopping for all our customers.
<br/> If you have any questions please contact us at kvirani@gmail.com. Thank you for shopping with us! </p>